* {
	box-sizing: border-box;
}

span {
	margin-left: 35%;
}



.contenedor {
	margin: 0 auto;
	width: 92.8%;
}

.icono {
	display: inline-block;
	width: 240px;
	height: 350px;
	background-color: #FBFBFB;
	box-shadow: 2px 2px 0px 0px rgba(194,192,192,1);
	margin-right:3px;
	padding: 5px;
}

.contenido, h3 {
	position: relative;
	text-align: center;
}