* {
	box-sizing: border-box;
}
body {
	color: #6A6A6A;	
	font-family: 'Asul', serif;
}

span {
	position: relative;
	top: 50px;
}

h3 {
	font-family: 'Irish Grover', cursive;
}

.contenedor {
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.icono {
	display: inline-block;
	width: 235px;
	height: 350px;
	background-color: #FBFBFB;
	box-shadow: 2px 2px 0px 0px rgba(194,192,192,1);
	margin-right:3px;
	padding: 5px;
	position: relative;

}

.contenido, h3 {
	position: relative;
	text-align: center;
	top: 10%;
}

.icono:hover{
	background-color: white;
	transform:rotate(0deg) scale(1.04) skew(0deg) translate(0px);
	color: #7BA1F8;
}
