@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?1xm55e');
    src:    url('fonts/icomoon.eot?1xm55e#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1xm55e') format('truetype'),
        url('fonts/icomoon.woff?1xm55e') format('woff'),
        url('fonts/icomoon.svg?1xm55e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gatomon:before {
    content: "\63";
}
.icon-octoface:before {
    content: "\38";
}
.icon-ardilla:before {
    content: "\61";
}
.icon-drink:before {
    content: "\62";
}
.icon-flower:before {
    content: "\66";
}

